<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/question.js"></script>
    <script src="/javascripts/survey.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
